*.txt
student-add#12S21007#Dame Sitinjak#2021#female
student-add#12S21008#Tuani Manurung#2021#male
student-add#12S21009#Mikhael Pakpahan#2021#male
student-add#12S21010#Bobby Siagian#2021#male
student-add#12S21011#Aldi Simamora#2021#male
student-print-all
dorm-add#Pniel#20#female
dorm-add#Kapernaum#20#male
dorm-print-all
student-print-all-detail
dorm-print-all-detail
